.filters {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    cursor: default;

    &:hover {
      button {
        border-color: rgba(175, 47, 47, 0.1);
      }
    }
  }

  &__filter {
    display: inline-block;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;

    &:not(.selected) {
      cursor: pointer;
    }

    &.selected {
      border-color: rgba(175, 47, 47, 0.2);
    }
  }
}
